body{
    background-color:#000;
}
h1,h2,h3,p,a,label { color:#fff; font-family: "Calibri", sans-serif; }
p,a,label,input[type="text"] { font-size: 14px; }
h1 { font-size: 23px; }
h3 { font-size: 18px!important; }
header{
    background-image: url('../img/header.png');
    height: auto;
}
header.home { text-align: center; }
header.home img.logo{
    margin: 40px 0px;
    min-width:270px;
    width:70%;
    /*max-width: 361px;*/
}
header img.logo{
    margin: 20px 0px;
    min-width:200px;
    width:45%;
    /*max-width: 361px;*/
}

header img.sidelogo{
    float: right;
    padding-right: 6%;
    padding-top: 13%;

    /*max-width: 361px;*/
}



.wrapper{text-align:left; width: 96%; margin: 0 auto;}
.uppercase { text-transform: uppercase; font-size: 20 }
.title {display: block; height:55px; margin-top: 20px; /*width: 280px; margin-left: auto; margin-right:auto;*/ }
.title .title-logo { width: 55px; float: left; } 
.title h1 { float: left; padding-left: 10px; }
.footer { margin-bottom: 27px;  margin-top: 30px; text-align: center; }
.footer.bottom { position:absolute; bottom:35px; left:0; margin-bottom: 0px; width:100%; }
.footer.bottom * {text-align: center;}

/* default style */
.selectnav { display: none; }

/* small screen */
@media screen and (max-width: 600px) {
  .js #nav { display: none; }
  .js .selectnav { display: block; }
}


/*Menu*/
.menu-row { margin: 18px 0px; padding: 0px 4%;    padding-right: 13%;}
.menu-row img { width:125px; position:relative; }
.menu-row div { width:100px; }
.menu-row div:first-child { float:right; }
.menu-row div p {     text-align: -webkit-right;
    position: relative;
    top: -10px;
font-size: 14.5px}

/*Button*/
.btns { text-decoration: none; padding: 15px; border-radius: 10px; }
.callus { background: -webkit-linear-gradient(#fff -8%, #709BFE 45%);
  background: -o-linear-gradient(#fff -8%, #709BFE 45%);
  background: -moz-linear-gradient(#fff -8%, #709BFE 45%);
  background: linear-gradient(#fff -8%, #709BFE 45%); color: white; }
.dial { background: -webkit-linear-gradient(#fff -8%, #DF3E3E 45%);
  background: -o-linear-gradient(#fff -8%, #DF3E3E 45%);
  background: -moz-linear-gradient(#fff -8%, #DF3E3E 45%);
  background: linear-gradient(#fff -8%, #DF3E3E 45%); color: white; }
.next { background: -webkit-linear-gradient(#fff -8%, #5aae22 45%);
  background: -o-linear-gradient(#fff -8%, #5aae22 45%);
  background: -moz-linear-gradient(#fff -8%, #5aae22 45%);
  background: linear-gradient(#fff -8%, #5aae22 45%); color: white; }


/*Practitioners*/
.doctor-details img{ float:left; margin-right: 10px; min-width:120px; width: 12%;}

/*Request*/
.wrapper form { background-color: #ccc; border-radius: 10px; margin-top: 20px; padding:10px;}
.wrapper form h3 { color:#000; margin:0px 0px 0px 0px; }
.wrapper form label { display:inline-block; color:#000; margin-left: 0px; width: 25%; }
.wrapper form input[type='text'],input[type='number'],textarea { margin-left: 5px; margin-top: 10px; }

/* Payment */
.wrapper form#location label { width: 33%; }
.wrapper form#location textarea,label#directions { display:inline-block; vertical-align:middle; }

/* Payment */
.wrapper form#payment label { width: 42%; }
.wrapper form#payment input[type='number'] { width: 53.5%; }
.wrapper form#payment input[type='submit'] { margin: 0px auto; display: block; margin-top: 15px; }
.wrapper form#payment p { margin: 0px; font-size: 12px; text-align: center; margin-top: 10px; color: #000; }

